/arvore_aleatoria_materiai
/arvore_e_floresta_aleatoria.ipynb
/Captacao_dados_machine_learn (1).ipynb
/emanoel.ipynb
/materiais_summary_band_gap.csv
/teste_1.ipynb
/tet.py
/Trabalho_final.ipynb
/__pycache__